* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Pacifico, cursive;
    line-height: 1.6;
    background-color: #f0f4f8; 
    color: #261f43; 
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #6969ab; 
    color: #faf8f8c2;
    padding: 1rem 0; 
    box-shadow: 0 2px 5px rgba(157, 65, 65, 0.2);
    z-index: 1000;
}

header .container {
    width: 90%; 
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 1.8em; 
}

header nav ul {
    display: flex;
    list-style: none;
}

header nav ul li {
    margin-left: 4rem; 
}

header nav ul li a {
    text-decoration: none;
    color: #170757;
    font-weight: bold;
    transition: color 0.3s ease;
}

main {
    padding-top: 10px; 
    min-height: 80vh; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.bio {
    max-width: 800px;
    text-align: center;
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.bio img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.bio p {
    font-size: 1rem; 
}

footer {
    background-color: #6969ab;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: relative;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
